body {
  background-image: url("bg_cooking.jpg");
  background-repeat: repeat;
}

/* A link that has not been visited */
a.link:link, a.link:visited, a.link:hover, a.link:active {
    color: black;
    text-decoration: none;
}

/* Style social media buttons*/
.fa {
  margin: 0;
  position: absolute;
  top: 80%;
  left: 50%;

  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
}


.fa:hover {
  opacity: 0.7;
}

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* Instagram */
.fa-instagram {
  background: #EAA1F4;
  color: white;
}

/* Make the icons circular */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

h1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

h2,h3 {
    text-align: center;
}

h4,h5 {
    margin-left: 5%;
}

ul.ing {
  margin-left: 3%;
}

ol.method {
  margin-left: 3%;
}

div.aboutus {
  padding: 5%;
  margin-bottom: 10%;
}

form.submitform {
  padding: 5%;
  margin-bottom: 1%;
}

div.socialmedia{
  display: flex;
  justify-content: space-around;
  align-items:center;
  flex-direction: row;
  padding: 5%;
}

.text{
  background: rgb(232, 232, 232);
  background: rgba(232, 232, 232, 0.5);
}
